@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;700&display=swap');

:root{
    --primary-color: rgb(109, 97, 216);
    --primary-color-darker: rgb(68, 97, 216);
}

*{
    box-sizing: border-box;
    outline: 0;

}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Red Hat Mono', sans-serif;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container h1{
    font-size: 2em;
}

.imc *{
    display: block;
}

.tipoPeso{
    display: block;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
  
form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
  
form input:focus {
    outline: 1px solid var(--primary-color);
}
  
form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background: aquamarine;
    padding: 10px;
}

.bad{
    background: rgb(165, 1, 1);
}